.auth-form-container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    min-width: 20rem;
}

.auth-form-container h2 {
    text-align: center;
    margin: 0 0 1rem 0;
}

.auth-form-container form {
    display: flex;
    flex-direction: column;
}

.auth-form-container input[type="text"],
.auth-form-container input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: inherit;
}

.auth-form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.auth-form-container input[type="submit"]:hover {
    background-color: #0056b3;
}
